body{
  text-align: center;
  overflow: hidden;
}

h1 {
  line-height: 50px;
  padding-bottom: 40px;
}

.container-fluid{
  width: 600px;
  text-align: center;
  margin-top: 140px;
}


.col {
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  height: 150px;
  padding-top: 50px;
}


.top-row,
.middle-row {
  border-bottom: 1px solid black;
}

.vertical,
.vertical-line,
.vertical-line2,
.vertical-line3,
.vertical-line4,
.vertical-line5  {
  border-right: 1px solid black;
  height: 150px;
}

.btn {
  margin-top: 40px;
  background-color: rgba(255, 140, 200, 0.5);
  color: blue;
  text-align: center;
}

/* Win/ Lose/ Draw Feedback Animations */
/* ______WIN ANIMATION FEEDBACK */

.win-feedback {
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      z-index: -1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      display: none;
  }

  .win-feedback.win-play {
    display: block;
  }

  .win-feedback li {
      position: absolute;
      font-size: 30px;
      list-style: none;
      display: block;
      background-color: rgba(200, 0, 5, 0.15);
      bottom: -100px;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
  }

  .win-feedback.win-play li {
    -webkit-animation: text 20s infinite;
    animation: text 20s infinite;
  }

  .win-feedback li:nth-child(1) {
      /*width: 40px;
      height: 40px;*/
      left: 20%;
  }
  .win-feedback li:nth-child(2) {
      /*width: 60px;
      height: 60px;*/
      left: 40%;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-duration: 17s;
      animation-duration: 17s;
  }

  .win-feedback li:nth-child(3) {
      /*width: 100px;
      height: 100px;*/
      left: 60%;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-duration: 13s;
      animation-duration: 13s;
  }

  .win-feedback li:nth-child(4) {
      /*width: 80px;
      height: 80px;*/
      left: 20%;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      -webkit-animation-duration: 20s;
      animation-duration: 20s;
  }

  .win-feedback li:nth-child(5) {
      /*width: 50px;
      height: 50px;*/
      left: 30%;
      -webkit-animation-delay: 4s;
      animation-delay: 4s;
      -webkit-animation-duration: 20s;
      animation-duration: 20s;
  }

  .win-feedback li:nth-child(6) {
      /*width: 100px;
      height: 50px;*/
      left: 90%;
      -webkit-animation-delay: 8s;
      animation-delay: 8s;
      -webkit-animation-duration: 20s;
      animation-duration: 20s;
  }

  .win-feedback li:nth-child(7) {
      /*width: 100px;
      height: 50px;*/
      color: blue;
      left: 50%;
      -webkit-animation-delay: 6s;
      animation-delay: 6s;
      -webkit-animation-duration: 15s;
      animation-duration: 15s;
  }

  .win-feedback li:nth-child(8) {
      /*width: 100px;
      height: 50px;*/
      color: purple;
      left: 30%;
      -webkit-animation-delay: 5s;
      animation-delay: 5s;
      -webkit-animation-duration: 20s;
      animation-duration: 20s;
  }

  .win-feedback li:nth-child(9) {
      /*width: 100px;
      height: 50px;*/
      color: red;
      left: 60%;
      -webkit-animation-delay: 7s;
      animation-delay: 7s;
      -webkit-animation-duration: 18s;
      animation-duration: 18s;
  }

  .win-feedback li:nth-child(10) {
      /*width: 100px;
      height: 50px;*/
      color:yellow;
      left: 80%;
      -webkit-animation-delay: 6s;
      animation-delay: 6s;
      -webkit-animation-duration: 12s;
      animation-duration: 12s;
  }

  @-webkit-keyframes text {
      0% {
          -webkit-transform: translateY(-1080px);
          transform: translateY(-1080px);
      }
      50% {
          -webkit-transform: translateY(520px) rotate(200deg);
          transform: translateY(520px) rotate(200deg);
      }
      100% {
          -webkit-transform: translateY(1080px) rotate(-630deg);
          transform: translateY(1080px) rotate(-630deg);
      }
  }

  @keyframes text {
      0% {
          -webkit-transform: translateY(-1080px);
          transform: translateY(-1080px);
      }
      50% {
          -webkit-transform: translateY(520px) rotate(200deg);
          transform: translateY(520px) rotate(200deg);
      }
      100% {
          -webkit-transform: translateY(1080px) rotate(-630deg);
          transform: translateY(1080px) rotate(-630deg);
      }
  }

/* ______ LOSE ANIMATION FEEDBACK */


.lose-feedback {
    margin: 0 auto;
    width: 400px;
    height:200px;
    margin-top: -500px;
    font-size: 20px;
    background-color: green;
    display: none;
}

.lose-feedback.lose-play {
  display: block;
  animation: bounceIn 6s;
}

@keyframes bounceIn
{
    0%
    {
      transform: scale(0.1);
      opacity: 0;
    }
    60%
    {
      transform: scale(1.2);
      opacity: 1;
    }
    100%
    {
      transform: scale(1);
    }
}

/* _____ DRAW ANIMATION FEEDBACK */

.draw-feedback {
  height: 250px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 0 auto;
  margin-top: -500px;
  background-color: black;
  display: none;
}

.draw-feedback.draw-play {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: none;
  animation-play-state: running;
  display: block;
}


@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: black;
    border-radius: 100%;
  }
  50% {
    background-color: grey;
  }
  100% {
    transform: scale(1.0);
    background-color: black;
  }
}

/*body,
html {
  height: 100%;
}*/


/* Text Animation Heading*/

.text-animation {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 10%;
  transform:translateX(-50%) translateY(-30%);
}

.text-animation li {
  background: #2ab46b;
  padding: 10px 20px;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc;
  font-family: sans-serif;
  font-size: 2em;
  color: purple;
  animation: animate .5s 8;
}

@keyframes animate
{
  0% {
    transform: translateY(0px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  }
  50%{
    transform: translateY(-20px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  }
  100%{
    transform: translateY(0px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  }
}

.text-animation li:nth-child(1)
{
  animation-delay: .2s;
}
.text-animation li:nth-child(2)
{
  animation-delay: .4s;
}
.text-animation li:nth-child(3)
{
  animation-delay: .6s;
}
.text-animation li:nth-child(4)
{
  animation-delay: .8s;
}
.text-animation li:nth-child(5)
{
  animation-delay: .1s;
}
.text-animation li:nth-child(6)
{
  animation-delay: .4s;
}
.text-animation li:nth-child(7)
{
  animation-delay: .5s;
}
.text-animation li:nth-child(8)
{
  animation-delay: .6s;
}
.text-animation li:nth-child(9)
{
  animation-delay: .8s;
}
