body{
  text-align: center;
  overflow: hidden;
}

h1 {
  line-height: 50px;
  padding-bottom: 40px;
}

h1:win{
  animation-name: <win-title>;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.container-fluid{
  width: 600px;
  text-align: center;
  margin-top: 140px;
}


.col {
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  height: 150px;
  padding-top: 50px;
}


.top-row,
.middle-row {
  border-bottom: 1px solid black;
}

.vertical,
.vertical-line,
.vertical-line2,
.vertical-line3,
.vertical-line4,
.vertical-line5  {
  border-right: 1px solid black;
  height: 150px;
}

.btn {
  margin-top: 40px;
  color: blue;
  text-align: center;
}

/* Win/ Lost/ Draw Feedback Animations */

.feedback {
  z-index: 3;
  margin: 0 auto;
  display: flex;
}

.win-feedback {}
.lose-feedback {}
.draw-feedback {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin-top: -500px;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

@@keyframes win-title {
  0% {
    transform: scale(.3);
    text-decoration-color:
    border-radius: 100%;
  }
}

body,
html {
  height: 100%;
}


/* Text Animation Heading*/

.text-animation {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 10%;
  transform:translateX(-50%) translateY(-30%);
}

.text-animation li {
  background: #2ab46b;
  padding: 10px 20px;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc;
  font-family: sans-serif;
  font-size: 2em;
  color: purple;
  animation: animate .5s infinite;
}

@keyframes animate
{
  0% {
    transform: translateY(0px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  }
  50%{
    transform: translateY(-20px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  }
  100%{
    transform: translateY(0px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3), 0 5px 0 #ccc, 0 15px 5px rgba(0,0,0,0);
  }
}

.text-animation li:nth-child(1)
{
  animation-delay: .2s;
}
.text-animation li:nth-child(2)
{
  animation-delay: .4s;
}
.text-animation li:nth-child(3)
{
  animation-delay: .6s;
}
.text-animation li:nth-child(4)
{
  animation-delay: .8s;
}
.text-animation li:nth-child(5)
{
  animation-delay: .1s;
}
.text-animation li:nth-child(6)
{
  animation-delay: .4s;
}
.text-animation li:nth-child(7)
{
  animation-delay: .5s;
}
.text-animation li:nth-child(8)
{
  animation-delay: .6s;
}
.text-animation li:nth-child(9)
{
  animation-delay: .8s;
}
